
  <body>

    <div class="register-page">
        <div class="form">
          <class="register-form">
            <%= form_for @user do |f| %>
              <%= f.text_field :name, placeholder: "Name"%> 
              <%= f.text_field :email, placeholder: "E-mail"%>
              <%= f.password_field :password, placeholder: "Password"%>
              <button>Create User</button>
            <% end %>
             <p class="message"> Already Registered? <%= link_to "Log in",signin_path %></p>
          </form>
        </div>
    </div>
  
    

<body>